<div class="grid-container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="driv col-sm-3">
            <img src="../../../assets/car1.jpeg" class="drive" alt="driver image">
        </div>
        <div class="offer col-sm-3">
            <h5>Driving in your car soon?</h5>
            <span>Let's make this your least expensive journey ever.</span><br>
            <input type="button" matButton class="offerBtn" routerLink="/user/offer" value="Offer a Ride">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row popRide">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
                <h5>Where do you want to go?</h5>
                <p>Most Popular Rides</p>
        </div>
        <div class="col-sm-3"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-2 ride"><a routerLink="/user/findRide">Mumbai <i class="material-icons">arrow_forward</i>Pune &#x20B9; 300</a></div>
        <div class="col-sm-2 ride"><a routerLink="/user/findRide">Pune <i class="material-icons">arrow_forward</i>Hyderabad &#x20B9; 600</a></div>
        <div class="col-sm-2 ride"><a routerLink="/user/findRide">Pune <i class="material-icons">arrow_forward</i>Bangalore &#x20B9; 700</a></div>
        <div class="col-sm-3"></div>
    </div>

</div>
