
<div class="grid-container">
    <div class="myDiv">
        <div class="login"><input routerLink="/login" type="button" value="Login"></div>
        <div class="text">Coming together is a beginning;<br> keeping together is progress;<br> working together is
            success. <br> by Henry Ford</div>
        <img class="image" src="../../assets/carpool1.png" alt="home page-image">
    </div>

    <div class="work">
        <h3>Go literally anywhere. From anywhere.</h3>

        <div class="row">
            <div class="box">
                <strong>Smart</strong>
                <p>With access to millions of journeys, you can quickly find a carpool or bus nearby.</p>
            </div>
            <div class="box">
                <strong>Simple</strong>
                <p>Enter your exact address to find the perfect ride. Choose the trip that suits you best. And book!</p>
            </div>
            <div class="box">
                <strong>Seamless</strong>
                <p>Whether you plan in advance or you book last minute, you’ll always find a fair price</p>
            </div>
        </div>
    </div>
</div>









<!-- <div class="container">
        <ol>
            <li>
                <mat-form-field>
                <input matInput [(ngModel)]="name" placeholder="What's your name?">
                </mat-form-field>
            </li>
            <li>
                <button mat-raised-button (click)="openDialog()">Pick one</button>
            </li>
            <li *ngIf="animal">
                You chose: <i>{{animal}}</i>
            </li>
        </ol>
</div> -->
